# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Environment variables
.env/


# Azure Functions
local.settings.json

# Node / frontend junk if needed later
node_modules/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Outputs
outputs/